<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  VA Supreme Court - Code Challenge
  <span class="example-spacer"></span>
  <a href="https://github.com/youellsp/vacourtcodechallenge">
    <i class="fa fa-github fa-3x" aria-hidden="true"></i>
  </a>
</mat-toolbar>
<mat-tab-group  selectedIndex="1">
  <mat-tab class="mat-primary" disabled="true" label="#1">
    <app-challenge-one></app-challenge-one>
  </mat-tab>
  <mat-tab label="#2">
    <app-challenge-two></app-challenge-two>
  </mat-tab>
  <mat-tab disabled="true" label="#3">
    <app-challenge-three></app-challenge-three>
  </mat-tab>
  <mat-tab label="#4">
    <app-challenge-four></app-challenge-four>
  </mat-tab>
</mat-tab-group>
